{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
<div id="content-main">
    <div>
        {% csrf_token %}

        {{ block.super }}

        <div class="submit-row">
        <input
            type="submit"
            class="default"
            id="genrator"
            value="Generate Configurations"
            style="float: right;">
        </div>
    </div>

    <label id="success-label"></label>
    <pre id="layout"></pre>
    <script>
        (function($) {
            $("#genrator").click(function() {
                $.ajax({
                    type:"POST",
                    url: "/generator",
                    data: $('#customer_form').serialize(),
                    success: function( response ) 
                    {
                        $("#layout").text(response);
                        $("#success-label").css({ 'color': 'green' }).text(response);
                    },
                })
            });
        })(django.jQuery);
    </script>
</div>
{% endblock %}